.menu-list-item-link{
    text-decoration:none;
    color: black;
    transition:color 0.3s;
}
.menu-list-item-link-active{
    text-decoration:none;
    color: white;
    transition:color 0.3s;
}


.menu-list-item-link:hover{
    color: rgb(255, 255, 255);
}

.header-desktop{
    width: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.menu{
    width: 100%;
    /*background-color:  rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(10px);*/
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list{
    display: flex;
    gap:30px;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.menu-list-item, .profileAccess{
    padding:20px;
    border-radius: 30px;
    background-color: white;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:not(.favorito):hover{
        background-color: #1565c0;  
        color:white;
        transform: scale(1.1);
    }
}

.filtro{
    padding:20px;
    border-radius: 30px;
    background-color: #1565c0;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 20px;
    width: auto;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circulo{

}

.filtroinput{
    background-color: #1565c0;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 43px;
    transition: width 0.3s, margin-left 0.3s;
    margin-left: 0px;
    
}
.filtroinput:focus{
   /* width: 200px; */ 
}
.filtroinput::placeholder {
    color: rgb(255, 255, 255); /* Cambia "gray" al color que prefieras */
}
.pi-search{
    color: white;
    margin-left: 9px;
}
.filtroinput:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #2196f3;
}

.favorito:hover{
    background-color: #afc015; 
    transform: scale(1.1);   
}

.profileAccess{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtroinput{
    border: none;
}

.invisible{
    visibility: hidden;
}

.menu-sidebar{
    margin-top: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.menu-sidebar-item{
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
}
.menu-sidebar-item:not(.fav):hover {
    transform: scale(1.1);
    color: #1565c0;
}
.fav:hover {
    transform: scale(1.1);
    color: #849500;
}
.menu-sidebar-item-text{
    margin-left: 20px;
    transition: transform 0.3s;
}

@media (max-width: 900px) {
    .header-desktop{
        display:none;
    }
    .header-mobile{
        width: 100%;
        position: absolute;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .profileAccess{
        margin-right: 0px;
        width: 50px;
        height: 50px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 900px) {
    .header-mobile{
        display:none;
    }
    .header-desktop{
        display:block;
    }
}
.activo .menu-list-item{
    background-color: #1565c0;  
    color:white;
    transform: scale(1.1);
    text-decoration: none;
}

a{
    text-decoration: none;
}